{% load static %}

<section>
    <footer class="footer py-2" style="background-color: #edfcf5;">
        <div class="container">
            <div class="row">
                <div class="col-12 py-3" style="text-align: center;">
                    <div>rbenprieto@outlook.com</div>
                </div>
                <div class="col-md-6 text-center ">Copyright © Ruben Prieto - Hecho con ❤</div>
                <div class="col-md-6" style="text-align: center">
                        <a class="btn btn-dark btn-social mx-2 " href="https://www.linkedin.com/in/rbenprieto/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
            </div>
        </div>
    </footer>
</section>